

.user-header {
   width: 100%;
   height: 70px;
   background: #d7dde4;
   position: absolute;
   top: 0;
   left: 0;
   display: grid;
   justify-items: end;
   align-items: center;
   grid-template-columns: 1fr min-content;
   & .header-button {
      display: grid;
      justify-self: start;
      margin-left: 280px;

      background-color: #85CE36;
      border-radius: 3px;
      & a {
         display: grid;
         grid-template-columns: 1fr min-content;
         font-family: "Open Sans", sans-serif;
         font-weight: 700;
         font-size: 16px;
         color: white;
         align-items: center;
         padding: 5px 10px;
         text-decoration: none;
      }
      & i {
         font-size: 25px;
      }
   }
   & .header-panel{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr max-content max-content;
      padding-right: 35px;
      align-items: center;
      & .panel-notify{
         position: relative;
         width: 25px;
         padding-right: 10px;
         & i {
            font-size: 22px;
            color: #4F5F6F;
            cursor: pointer;
         }
         & .notify-amount{
            position: absolute;
            top: -5px;
            right: -6px;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            font-size: 14px;
            color: #85ce36;
            pointer-events: none;
            &::selection {
               background-color: transparent;
            }
         }
         & .notify-menu {
            position: absolute;
            right: -17px;
            top: 48px;
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
            z-index: 10;
         }

      }
      & .panel-separator{
         width: 2px;
         height: 30px;
         background: #4f5f6f;
         margin-left: 15px;
         margin-right: 16px;
      }
      & .panel-user-name{
         font-family: "Open Sans", sans-serif;
         font-weight: 700;
         font-size: 16px;
         color: #4f5f6f;
         margin-left: 15px;
         cursor: pointer;
      }
      & .panel-menu-arrow {
         position: relative;
         & .icon-up-dir {
            font-size: 25px;
            cursor: pointer;
            &::before {
               transition: all .2s ease-in-out;
               transform: rotate(180deg);
            }
         }
         & .open-menu {
            &::before {
               transform: rotate(-0deg);
               transition: all .4s ease-in-out;
            }
         }
         & .panel-menu {
            z-index: 10;
            position: absolute;
            left: -183px;
            top:48px;
            width: 160px;
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
            & div {
               display: grid;
               grid-template-columns: max-content 1fr;
               padding: 10px 15px;
               align-items: center;
               transition: all .2s ease-in-out;
               cursor: pointer;
               &:hover {
                  background: gainsboro;
                  transition: all .3s ease-in-out;
               }
               & p {
                  margin: 0;
                  font-family: "Open Sans", sans-serif;
                  font-weight: 700;
                  font-size: 15px;
                  color: #7e8e9f;
               }
               & i {
                  margin-right: 10px;
                  color: #85CE36;
                  font-size: 20px;
               }
               & img {
                  margin-right: 10px;
                  margin-left: 5px;
               }
               & a {
                  display: contents;
               }
            }
         }
      }
   }
}
