

.show-more {
   width: 25px;
   height: 25px;
   border-radius: 100%;
   fill: #f7f7f7;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   background: radial-gradient(276.29% 270.81% at 50% 174.53%, #8DC640, rgb(228, 68, 254) 100%);
   cursor: pointer;
   display: grid;
    place-content: center;
   position: relative;
   margin: 0;
   padding: 0;
   border: none;
   & .inner-button {
      width: 85%;
      height: 85%;
      background-color: #fff;
      border-radius: 100%;
      position: absolute;
      left: 2px;
      top: 1.5px;
      display: grid;
      place-items: center;
      & img {
         width: 100%;
         transform: scale(0.9);
      }
   }
}
