

.block-slat {
   border-radius: 20px;
   width: 310px;
   height: 64px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   background: radial-gradient(276.29% 270.81% at 50% 174.53%, rgb(68, 109, 254) 0%, rgb(228, 68, 254) 100%);
   font-family: "Ubuntu", sans-serif;
   font-weight: 700;
   font-size: 18px;
   text-align: center;
   color: #fff;
   display: grid;
   place-items: center;
}
