
.vote-pop-up {
   border-radius: 20px;
   width: 600px;
   height: 200px;
   box-shadow: 0 10px 40px rgba(182, 198, 214, 0.2);
   background: #fff;
   position: relative;
   & .item-top {
      position: absolute;
      left: -5px;
      width: 102%;
      height: 60px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background: radial-gradient(276.29% 270.81% at 50% 174.53%, rgb(68, 109, 254) 0%, rgb(228, 68, 254) 100%);
      border-radius: 20px;
      display: grid;
      align-items: center;
      & .item-top-inner {
         display: grid;
         grid-template-columns: 2fr 1fr;
         align-items: center;
         justify-items: center;
         padding: 0 20px;
         & p {
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: #fff;
         }
         & .close-button{
            width: 100%;
            height: 25px;
            display: grid;
            justify-items: end;
            //margin-right: 30px;
            opacity: 0.4;
            cursor: pointer;
            transition: opacity ease 0.7s;
            &:hover {
               opacity: 1;
            }
            &::after{
               content: '';
               position: absolute;
               top: 28px;
               display: block;
               width: 24px;
               height: 2px;
               background: white;
               transform: rotate(-45deg);
            }
            &::before {
               content: '';
               position: absolute;
               top: 28px;
               display: block;
               width: 24px;
               height: 2px;
               background: white;
               transform: rotate(45deg);
            }
         }
      }
   }
   & .item-main-content {
      width: 100%;
      height: max-content;
      padding-top: 70px;
      padding-left: 30px;
      box-sizing: border-box;
      & p {
         font-family: "Open Sans", sans-serif;
         font-weight: 700;
         font-size: 14px;
         color: #9ba8b5;
      }
      & strong {
         font-weight: 700;
         color: #446dfe;
      }
   }
   .item-buttons {
      display: grid;
      justify-items: end;
      grid-template-columns: 1fr min-content;
      width: 100%;
      //height: 100%;
      position: relative;
      grid-gap: 15px;
      padding: 0 20px;
      box-sizing: border-box;
      & .button-yes {
         width: 91px;
         height: 52px;
         border-radius: 20px;
         box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
         background: radial-gradient(276.29% 270.81% at 50% 174.53%, rgb(68, 109, 254) 0%, rgb(228, 68, 254) 100%);
         border: 2px solid transparent;
         display: grid;
         place-items: center;
         font-family: "Open Sans", sans-serif;
         font-weight: 600;
         font-size: 20px;
         color: #fff;
         text-transform: capitalize;
         cursor: pointer;
      }
      & .button-no {
         width: 91px;
         height: 52px;
         border-radius: 20px;
         border: 2px solid #111112;
         display: grid;
         place-items: center;
         font-family: "Open Sans", sans-serif;
         font-weight: 600;
         font-size: 20px;
         color: #393535;
         text-transform: capitalize;
         cursor: pointer;
      }
   }
}




@media only screen and (max-width : 700px) {
   .vote-pop-up{
      width: 340px;
   }
   .vote-pop-up .item-top .item-top-inner {
      grid-template-columns: max-content 1fr;
   }
   .vote-pop-up .item-top .item-top-inner p{
      font-size: 16px;
   }
   .vote-pop-up .item-main-content {
      padding-left: 0;
      display: grid;
      justify-items: center;
   }
   .vote-pop-up .item-buttons {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
   }
}
