@font-face {
   font-family: 'Jost';
   src: url('../../assets/fonts/Jost-Regular.woff2') format('woff2'),
   url('../../assets/fonts/Jost-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Jost';
   src: url('../../assets/fonts/Jost-SemiBold.woff2') format('woff2'),
   url('../../assets/fonts/Jost-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

.about-us__page {
   background-color: #F4F6F7;
   padding: 100px 0 100px 0;
   & .page-container {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 20px;
      .firstText:first-letter {
         width: 40px;
         height: 40px;
         color: white;
         background-color:  #355c7d;
         line-height: 1.0;
         text-align: center;
         margin-right: 15px;
         float: left;
         padding-bottom: 15px;
         padding-left: 15px;
         padding-right: 15px;
         font-family: Jost, serif;
         font-size: 55px;
         font-weight: 600;
         border-radius: 10px;
         display: grid;
         place-items: center;
      }
      & img {
         width: 100%;
         height: auto;
         border-radius: 40px;
      }
      & .start-letter {
         width: 40px !important;
         height: 40px !important;
         background: #1d3456;
      }
      .square {
         float: left;
         width: 60px;
         height: 60px;
         background-color:  #355c7d;
         shape-outside: inset(0);
         margin: 0 10px 10px 0;
         display: grid;
         place-items: center;
         font-family: Jost, serif;
         color: white;
         font-size: 30px;
         font-weight: 600;
         border-radius: 10px;
      }

      & h2 {
         font-family: Jost, serif;
         font-size: 36px;
         font-weight: 600;
      }
      & h3 {
         font-family: Jost, serif;
         font-size: 30px;

      }
      & h1 {
         font-family: Jost, serif;
         font-size: 45px;
      }
      & p {
         font-family: Jost, serif;
         font-size: 20px;
         line-height: 1.5;
         color: #5e5e5e;
         font-weight: normal;

      }
   }
}
