


.custom-load {
   width: min-content;
   .ant-upload-select {
      border-radius: 0 !important;
      border: 1px solid var(--Main-color) !important;
      margin-bottom: 0 !important;
   }
   & .ant-upload {

   }
   .ant-upload-list {
      width: min-content;
   }
}
