
.partners-adm{
   width: 100%;
   min-height: 100vh;
   background: #F0F3F6;
   box-sizing: border-box;
   padding: 110px 40px 10px 270px;
   & .page-top-bar {
      width: 100%;
      border-bottom: 1px solid #e9edf0;
      display: grid;
      grid-template-columns: 1fr max-content;
      padding-bottom: 20px;
      margin-bottom: 20px;
      & h2 {
         margin: 0;
         font-family: "Open Sans", sans-serif;
         font-weight: 800;
         font-size: 16px;
         color: #4f5f6f;
      }
   }
   & .partners-adm-inner{
      display: grid;
      grid-template-columns: 1fr 1fr;
      & .adding-form-item {
         box-sizing: border-box;
         width: 600px;
         box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
         background: #fff;
         padding: 20px 20px;
         & p {
            font-family: var(--Panel-font);
            font-weight: 600;
            font-size: 16px;
            color: #4f5f6f;
         }
      }
      & form {
         padding-top: 5px;
         & p {
            margin: 10px 0;
         }
      }
      & .bottom-form{
         display: grid;
         grid-template-columns:  1fr 1fr;
         align-items: center;
         & .bottom-right {
            display: grid;
            justify-items: center;
         }
      }
      & .stats-form-item{
         box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
         background: #fff;
         padding: 15px 20px;
         width: 1000px;
         height: min-content;
         & .form-item-title {
            font-family: var(--Panel-font);
            font-weight: 600;
            font-size: 16px;
            color: #4f5f6f;
         }
         & .item-separator{
            border: 1px solid #e9edf0;
            width: 100%;
            height: 0;
         }
         & .item-table{
            padding-top: 10px;
         }
      }
   }
}

