

.login__page {
   width: 100%;
   //height: 100vh;
   .login__content {
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "content-left content-right ";
      & .content__form {
         width: 100%;
         display: grid;
         place-items: center;
         grid-area: content-left;
         & .form-container {
            width: 350px;
            & h1 {
               font-family: "Open Sans", sans-serif;
               font-weight: 600;
               font-size: 32px;
               color: #1d1d1d;
               margin: 0;
            }
            & h2 {
               font-family: "Open Sans", sans-serif;
               font-weight: 400;
               font-size: 20px;
               color: #7e8e9f;
               margin: 5px 0 30px 0;
            }
            & .ant-btn {
               margin-top: 30px;
               margin-bottom: 20px;
            }
            & p {
               font-family: "Open Sans", sans-serif;
               font-weight: 600;
               font-size: 14px;
               color: #747474;
            }
            & .inputError {
               font-family: "Open Sans", sans-serif;
               font-weight: 600;
               font-size: 14px;
               padding-top: 3px;
            }
            & .form-separator {
               width: 100%;
               height: 1px;
               background: #1d3456;
               margin-top: 25px;
            }
            & .ps-reset {
               color: #9A9B9B;
               font-family: "Open Sans", sans-serif;
               font-weight: 600;
               font-size: 14px;
               margin-top: 20px;
               margin-left: 20px;
               text-decoration: underline;
               & a {
                  color: #9A9B9B;
               }
            }
            & .login-check {
               margin-top: 10px;
               font-family: "Open Sans", sans-serif;
               font-weight: 600;
               color: #000000;
               cursor: pointer;
               & span {
                  margin-right: 5px;

               }
            }
            .custom-checkbox .ant-checkbox-checked .ant-checkbox-inner{
               background-color: #5B5BDF!important;
            }
         }
      }
      & .content__image {
         background-image: url('../../assets/main/images/login-image.jpg');
         background-size: cover;
      }
   }
}


@media only screen and (max-width : 1220px) {
   .login__page{
      & .login__content {
         grid-template-rows: 1fr 1fr;
         grid-template-columns: 1fr;
         grid-template-areas:
		"content-right"
         "content-left"
      ;
      }
   }
}

@media only screen and (max-width : 600px) {
   .login__page {
      & .login__content {
         height: 100%;
         & .content__form {
            padding: 20px 20px;
            box-sizing: border-box;
            & .form-container {
               width: 100%;
            }
         }
      }
   }
}
