

.vote-top-line{
   display: grid;
   grid-template-columns: 1fr  5fr;
   align-items: center;
   background-color: #FCFCFD;
   padding: 10px 20px 10px 30px;
   & .table-left{
      display: grid;
      grid-template-columns: max-content 1fr 1fr;
      align-items: center;
      grid-gap: 10px;
   }
   & .table-right{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
   }
   & p {
      margin: 0;
      font-family: var(--Panel-font);
      font-weight: 700;
      font-size: 14px;
      color: #999;
   }
   & .image-table{
      display: grid;
      place-items: center;
   }
}
