

.hero-banner {
   max-width: 1240px;
   margin: 0 auto;
   padding: 60px 20px;
   position: relative;
   z-index: 10;
   & img {
      border: none;
      border-radius: 10px;
   }

}


.main-content {
   display: grid;
   grid-template-columns: 290px 1fr 290px;
   padding: 0 10px;
   & .content__item{
      & .ant-tabs-nav-list{
         border-radius: 10px;
         background: white;
         & .ant-tabs-tab{
            text-align: center;
            width: 200px;
            display: grid;
            justify-items: center;
            font-family:var(--Main-front-font);
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            color: #97a7c9;
            padding: 20px 0;
            position: relative;
            margin: 0;
            &::after{
               position: absolute;
               content: '|';
               right: 0;
               //color: red;
            }
            &:nth-last-child(2)::after {
               content: '';
               display: none;
            }

         }
      }

      .ant-tabs-nav .ant-tabs-tab-active {
         & .ant-tabs-tab-btn{
            color: slateblue;
         }
      }
      .ant-tabs-ink-bar{
         height: 3px;
         background:slateblue;
      }
   }
}

.ant-tabs-nav {
   &::before {
      display: none;
   }
}

.ant-tabs-content-holder{
   padding: 20px 20px;
}


@media only screen and (max-width : 1920px) {
   .main-content .content__item .ant-tabs-nav-list .ant-tabs-tab {
      //width: 210px;
   }
}





.error-page {
   width: 100%;
   height: 90vh;
   background: #EEEEEE;
   & .error-page-container {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 20px;
      display: grid;
      place-items: center;
      height: 90vh;
      & .error-page-content {
         width: 100%;
         & h1 {
            text-align: center;
            padding: 0;
            margin: 0;
            font-family: "HK Grotesk Wide", sans-serif;
            font-weight: 800;
            font-size: 350px;
            color: #fcfcfc;
            text-shadow:  0 4px 4px rgba(0, 0, 0, 0.25);
         }
         & h2 {
            padding: 0;
            margin: 0;
            font-family: "HK Grotesk Wide", sans-serif;
            font-weight: 800;
            font-size: 79px;
            text-align: center;
            color: #fcfcfc;
            text-shadow:  0 4px 4px rgba(0, 0, 0, 0.25);
         }
      }
   }
}




@media only screen and (max-width : 1170px) {
   .error-page .error-page-container .error-page-content {
      & h1 {
         font-size: 150px;

      }
      & h2 {
         font-size: 50px;
      }
   }
}

@media only screen and (max-width : 500px) {
   .error-page .error-page-container .error-page-content {
      & h1 {
         font-size: 70px;

      }
      & h2 {
         font-size: 25px;
      }
   }
}
