
.Services-page{
   background-color: #F4F6F7;
   padding: 100px 0 100px 0;
  & .page-container {
     display: grid;
     justify-items: center;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 50px;
     max-width: 1240px;
     margin: 0 auto;
     padding: 0 20px;
     & .services-item{
        border-radius: 50px;
        width: 250px;
        height: 250px;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        padding: 34px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: self-end;
        border: 4px solid white;
        transition: all .2s ease-in-out;
        &:hover {
           border: 4px solid #9a2de3;
           transition: all .4s ease-in-out;
           & .item-link{
              & img {
                 transition: all .2s ease-in-out;
                 padding-left: 10px;
              }
           }
        }
        & .item-link {
           & img {
              transition: all .2s ease-in-out;
           }
        }

        & .item-logo {
           margin-bottom: 16px;
           .logo-circle {
              width: 80px;
              height: 80px;
              border-radius: 100%;
              background: radial-gradient(276.29% 270.81% at 50% 174.53%, rgb(68, 109, 254) 0%, rgb(228, 68, 254) 100%);
              box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
              display: grid;
              place-items: center;
           }
        }
        & .item-title {
           margin-bottom: 12px;
           font-family: "Quicksand", sans-serif;
           font-weight: 700;
           font-size: 18px;
           line-height: 125%;
           color: #000;
           text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
           //text-shadow: 5px 5px #558ABB;
        }
        & .item-description {
           font-family: "Lato", sans-serif;
           font-weight: 500;
           font-size: 16px;
           color: #a1a1a4;
           width: 80%;
           //margin-bottom: 18px;
           line-height: 1.2;
        }
     }
   }
}

@media only screen and (max-width : 1170px) {
    .Services-page {
       padding: 50px 0;
       .page-container {
          grid-template-columns: repeat(auto-fill, minmax( 250px, 1fr));
       }
    }
}
