
.time-line__page {
   width: 100%;
   min-height: 100vh;
   background: #F0F3F6;
   box-sizing: border-box;
   padding: 110px 40px 10px 270px;
   & .page-top-bar{
      width: 100%;
      border-bottom: 1px solid #e9edf0;
      display: grid;
      grid-template-columns: 1fr max-content;
      padding-bottom: 20px;
      margin-bottom: 20px;
      & .bar-actions{
         display: grid;
         grid-template-columns: min-content min-content 1fr;
         width: max-content;
         grid-gap: 15px;
         align-items: center;
         & h2 {
            margin: 0;
            font-family: "Open Sans", sans-serif;
            font-weight: 800;
            font-size: 16px;
            color: #4f5f6f;
         }
      }
   }
   .page-data-table {
      & .table-top{
         & .option-adv-table{
            display: grid;
            background-color: #FCFCFD;
            grid-template-columns: 1fr 1fr 5fr;
            align-items: center;
            padding: 10px 20px 10px 30px;
            & p {
               margin: 0;
               font-family: var(--Panel-font);
               font-weight: 700;
               font-size: 16px;
               color: #999;
            }
            & .table-left {
               display: grid;
               grid-template-columns: max-content 1fr 1fr;
               align-items: center;
               grid-gap: 10px;
            }
            & .table-right {
               display: grid;
               grid-template-columns: 2fr 1fr 1fr 1fr min-content;
               justify-items: center;
               & .table-date {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-gap: 40px;
               }
            }
         }
      }
   }
}
