
.comments-item-line{
   height: 80px;
   padding: 20px 20px 20px 20px;
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   align-items: center;
   & p {
      margin: 0;
   }
   & i {
      color: #9BA8B5;
      font-size: 40px;
      cursor: pointer;
   }
   & .icon {
      display: grid;
      justify-items: center;
      height: 100%;
      align-items: center;
   }
   & h3 {
      font-family: var(--Panel-font);
      font-weight: 700;
      font-size: 16px;
      color: #999;
   }

   & p {
      font-family: var(--Panel-font);
      font-weight: 400;
      font-size: 16px;
      color: #999;
   }
}
