

.information-line {
   width: 100%;
   border-bottom: 1px dashed #e9edf0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-bottom: 5px;
   margin-top: 19px;
   text-decoration: none;
   & .line-items {
       display: grid;
      grid-template-columns: max-content 1fr;
      grid-gap: 10px;
      align-items: center;
      font-family:  var(--Main-front-font);
      font-weight: 500;
      font-size: 14px;
      color: #797979;
      text-decoration: underline;
      //text-decoration: n;
   }
   & .line-items-one {
      display: grid;
      justify-items: end;
      align-items: center;
      font-family: var(--Main-front-font);
      font-weight: 700;
      font-size: 14px;
      color: #969696;
   }
}
